{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <h1 class="text-center py-4 card-header">Lista de Asistencia</h1>

    <br /><br />
    <div class="table-responsive">
      <a href="{% url 'usuario_create' %}"><button class="btn btn-success" type="submit">Nuevo Dato de Asistencia</button></a>
      <a href="{% url 'all_delete' %}"><button class="btn btn-link" type="submit">Generar PDF</button></a>
      <br /><br />
      <table  id="TablaClientes" class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Nombres y Apellidos</th>
            <th scope="col">Documento de Identidad</th>
            <th scope="col">Asistencia Asamblea</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>

        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <th><p>{{usuario.nombres}}</p></th>
            <td><p>{{usuario.numero_documento}}</p></td>
            <td><p>{{usuario.asistencia}}</p></td>
              <td>
                  <form action="{% url 'usuario_delete' usuario.id %}" method="POST">
    
                    {% csrf_token %}
                    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
    
                </form>
              </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<br /><br />

{% endblock %}

