{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <h1 class="text-center py-4 card-header">Lista de Asistencia</h1>

    <br /><br />
    <div class="table-responsive">
      <br /><br />
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Nombres y Apellidos afiliados</th>
            <th scope="col">Documento de Identidad</th>
            <th scope="col">Asistencia Asamblea</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>

        <tbody>
          {% for afiliado in afiliados %}
          <tr>
            <td><p>{{afiliado.id}}</p></td>
            <th><p>{{afiliado.nombres}}</p></th>
            <td><p>{{afiliado.numero_documento}}</p></td>
            <td>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Abrir para seleccionar</option>
                  <option value="Ausente">Ausente</option>
                  <option value="Presente">Presente</option>
                  <option value="Con Excusa">Con Excusa</option>
                </select>
              </td>
              <td>
                  <a class="btn btn-danger" href="#"><i class="fa-solid fa-trash"></i></a>
              </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<br /><br />

{% endblock %}
